@tailwind base;
@tailwind components;
@tailwind utilities;

body{
	background: url("https://i.ibb.co/mvTZRJW/Nindo-Background.jpg") center fixed no-repeat;
	background: url("https://i.ibb.co/LPZRF6w/Nindo-Background2.jpg") center fixed no-repeat;
	font-family: 'Lusitana', serif;
	font-family: 'Girassol', cursive;
	font-family: 'Libre Baskerville', serif;
	background-color: var(--my-color)
}
[data-theme='dark'] {
  --my-color: #000;
}
[data-theme='light'] {
  --my-color: #111;
}
